{% extends "chatbot/layout.html" %}
{% block title %}
Login
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-md-12" style="max-width: 20rem; width: 100%;">
                <h2 class="text-center">Login</h2>

                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group text-center mb-3"> 
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
                <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
            </div>
        </div>
    </div>

{% endblock %}
